VITE_INDEXER_URLS={"local":"http://localhost:4350/graphql","testnet":"https://starboard.squids.live/starboard-testnet@test2/api/graphql"}
VITE_RPC_URLS={"local":"http://localhost:4000/v1/graphql","testnet":"https://testnet.fuel.network/v1/graphql"}
VITE_CHAIN_IDS={"local":"0","testnet":"0"}
VITE_DEFAULT_ENVIRONMENT=local
