VITE_BASE_URL=

VITE_ALCHEMY_API_KEY=

VITE_PRIVY_APP_ID=
VITE_PRIVY_APP_CLIENT_ID=

VITE_PK_ENCRYPTION_KEY=
VITE_ROUTER_TYPE=

VITE_V3_TOKEN_ADDRESS=
VITE_TOKEN_MIGRATION_URI=
VITE_NUMIA_BASE_URL=

# URL for the qrcode that is generated within the modal share pnl analytics
VITE_SHARE_PNL_ANALYTICS_URL=

AMPLITUDE_API_KEY=
AMPLITUDE_SERVER_URL=
HOTJAR_SITE_ID=
HOTJAR_VERSION=6
BUGSNAG_API_KEY=
IOS_APP_ID=
INTERCOM_APP_ID=
STATUS_PAGE_SCRIPT_URI=

SMARTBANNER_APP_NAME=
SMARTBANNER_ORG_NAME=
SMARTBANNER_ICON_URL=
SMARTBANNER_APPSTORE_URL=
SMARTBANNER_GOOGLEPLAY_URL=
