/node_modules
vite-env.d.ts
polyfills.ts
vite.config.ts
commitlint.config.ts

# Temporarily ignore, we will slowly remove each directory as we fix files to follow ESLint rules
/src/views/forms
/src/views/menus
/src/views/tables

# components dir is being worked on
/src/components/*

# unignored components
!/src/components/Table.tsx