node_modules/
dist/
build/
fuel-ts-sdk/lib/
contracts/lib/
indexer/lib/
.next/
coverage/
pnpm-lock.yaml
*.min.js
*.min.css
**/generated
frontend/src/vite-env.d.ts
indexer/src/main.ts
indexer/src/abis/
