services:
  db:
    image: postgres:15
    container_name: 'starboard_indexer_db'
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
    ports:
      - '${DB_PORT}:5432'
    # command: ["postgres", "-c", "log_statement=all"]
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}']
      interval: 1s
      start_period: 1s
      timeout: 1s
      retries: 10
