:root {
  /* Parameters */

  /*
    --layer-base-hue
    --layer-base-saturation
    --layer-base-lightness
  */

  --color-gradient-base-0: hsl(
    var(--layer-base-hue),
    calc(var(--layer-base-saturation) - 5%),
    var(--layer-base-lightness)
  );

  --color-gradient-base-1: hsl(
    var(--layer-base-hue),
    calc(var(--layer-base-saturation) - 1%),
    calc(var(--layer-base-lightness) + 7%)
  );
}

/* Theme: Classic (default) */
:root {
  /* Constants */

  --theme-classic-hue-purple: 240;
  --theme-classic-color-green: hsl(159, 67%, 39%);
  --theme-classic-color-yellow: hsl(36, 100%, 64%);
  --theme-classic-color-red: hsl(360, 73%, 61%);

  /* Parameters */

  --layer-base-hue: var(--theme-classic-hue-purple);
  --layer-base-saturation: 20%;
  --layer-base-lightness: 16%;

  --color-white: #fff;
  --color-black: #000;

  --color-gradient-positive: hsla(158, 49%, 48%, 0.16);
  --color-gradient-negative: hsla(0, 100%, 66%, 0.16);
  --color-accent-faded: hsla(var(--theme-classic-hue-purple), 100%, 70%, 0.16);
}

/* Theme: Light */
:root.theme-light {
  /* Constants */

  --theme-light-hue-purple: 234;
  --theme-light-color-green: hsl(159, 67%, 39%);
  --theme-light-color-yellow: hsl(36, 100%, 64%);
  --theme-light-color-red: hsl(360, 73%, 61%);

  /* Parameters */

  --layer-base-hue: var(--theme-light-hue-purple);
  --layer-base-saturation: 0%;
  --layer-base-lightness: 86%;
}

/* Theme: Dark */
:root.theme-dark {
  /* Constants */

  --theme-dark-hue-purple: 240;
  --theme-dark-color-green: hsl(159, 67%, 39%);
  --theme-dark-color-yellow: hsl(36, 100%, 64%);
  --theme-dark-color-red: hsl(360, 73%, 61%);

  /* Parameters */

  --layer-base-hue: 0;
  --layer-base-saturation: 0%;
  --layer-base-lightness: 16%;
}
