services:
  fuel-core:
    build:
      context: ./fuel-core
      dockerfile: Dockerfile
    image: starboard/fuel-core
    container_name: 'starboard_fuel_core'
    environment:
      MIN_GAS_PRICE: ${MIN_GAS_PRICE}
      # This is the private key of the consensus.PoA.signing_key in the chainConfig.json
      # this key is responsible for validating the transactions
      CONSENSUS_KEY_SECRET: ${WALLET_SECRET}
    ports:
      - '${FUEL_CORE_PORT}:4000'
    volumes:
      - fuel-core-db:/mnt/db
    healthcheck:
      test: ["CMD-SHELL", "curl --fail http://localhost:4000/v1/health || exit 1"]
      interval: 10s
      start_period: 3s
      timeout: 10s
      retries: 10

  db:
    image: postgres:15
    container_name: "starboard_indexer_db"
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
    ports:
      - "${DB_PORT}:5432"
      # command: ["postgres", "-c", "log_statement=all"]
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 10s
      start_period: 3s
      timeout: 10s
      retries: 10

  indexer:
    build:
      context: ..
      dockerfile: docker/starboard/Dockerfile
    image: starboard
    container_name: 'starboard_indexer_processor'
    environment:
      FUEL_CORE_PORT: ${FUEL_CORE_PORT}
      DB_NAME: ${DB_NAME}
      DB_PORT: 5432
      DB_USER: ${DB_USER}
      DB_PASS: ${DB_PASS}
      DB_HOST: starboard_indexer_db
      GATEWAY_URL: ${GATEWAY_URL}
      GRAPHQL_URL: http://starboard_fuel_core:4000/v1/graphql
      VAULT_PRICEFEED_ADDRESS: ${VAULT_PRICEFEED_ADDRESS}
      VAULT_ADDRESS: ${VAULT_ADDRESS}
      FROM_BLOCK: ${FROM_BLOCK}
      NVM_DIR: /root/.nvm
    command: ["bash", "-c", "source /root/.nvm/nvm.sh && cd /starboard/apps/indexer && ../../node_modules/.bin/squid-typeorm-migration apply && node lib/main.js"]
    depends_on:
      fuel-core:
        condition: service_healthy
      db:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "pgrep -f 'node.*main.js' || exit 1"]
      interval: 30s
      start_period: 60s
      timeout: 10s
      retries: 3

  api:
    image: starboard
    container_name: 'starboard_indexer_api'
    environment:
      DB_NAME: ${DB_NAME}
      DB_PORT: 5432
      DB_USER: ${DB_USER}
      DB_PASS: ${DB_PASS}
      DB_HOST: starboard_indexer_db
      NVM_DIR: /root/.nvm
    ports:
      - "${GQL_PORT}:${GQL_PORT}"
    command: ["bash", "-c", "source /root/.nvm/nvm.sh && cd /starboard/apps/indexer && ../../node_modules/.bin/squid-graphql-server"]
    depends_on:
      db:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "pgrep -f 'squid-graphql-server' || exit 1"]
      interval: 30s
      start_period: 30s
      timeout: 10s
      retries: 3

volumes:
  fuel-core-db:
    name: 'starboard_fuel-core-db'
