/* This file is intended to replace colors-deprecated.css with the ui-refresh */

/* Theme: Dark (default) */
:root {
  --color-layer-0: #1D0623;
  --color-layer-1: #17001C;
  --color-layer-2: #1D0623;
  --color-layer-3: #1D0623;
  --color-layer-4: #1D0623;
  --color-layer-5: #1D0623;
  --color-layer-6: #1D0623;
  --color-layer-7: #1D0623;

  --color-border: #28282B00;

  --color-text-0: #898899;
  --color-text-1: #CACACE;
  --color-text-2: #FFFFFF;
  --color-text-button: #FFFFFF;

  --color-accent: #FF5A02;

  --color-gradient-orange: linear-gradient(135deg, #ffb647 0%, #ff5a02 100%);
}
  
/* Theme: Light */
:root.theme-light {
	--color-layer-0: #FFFFFF;
  --color-layer-1: #FFFFFF;
  --color-layer-2: #E9ECEE;
  --color-layer-3: #FCFDFF;
  --color-layer-4: #F7F8FA;
  --color-layer-5: #EDF0F2;
  --color-layer-6: #D5DADF;
  --color-layer-7: #FFFFFF;

  --color-border: #FCFDFF;

  --color-text-0: #56565C;
  --color-text-1: #303033;
  --color-text-2: #1B1B1D;
  --color-text-button: #FFFFFF;

  --color-accent: #FF5A02;

  --color-gradient-orange: linear-gradient(135deg, #ffb647 0%, #ff5a02 100%);
}
  
/* Theme: Dark */
:root.theme-dark {
  --color-layer-0: #1D0623;
  --color-layer-1: #17001C;
  --color-layer-2: #1D0623;
  --color-layer-3: #1D0623;
  --color-layer-4: #1D0623;
  --color-layer-5: #1D0623;
  --color-layer-6: #1D0623;
  --color-layer-7: #1D0623;

  --color-border: #28282B00;

  --color-text-0: #898899;
  --color-text-1: #CACACE;
  --color-text-2: #FFFFFF;
  --color-text-button: #FFFFFF;

  --color-accent: #FF5A02;

  --color-gradient-orange: linear-gradient(135deg, #ffb647 0%, #ff5a02 100%);
}
