/* This file is intended to replace colors-deprecated.css with the ui-refresh */

/* Theme: Dark (default) */
:root {
  --color-layer-0: #18181A;
  --color-layer-1: #1B1B1D;
  --color-layer-2: #212124;
  --color-layer-3: #28282B;
  --color-layer-4: #303033;
  --color-layer-5: #3B3B3F;
  --color-layer-6: #494950;
  --color-layer-7: #56565C;

  --color-border: #28282B;

  --color-text-0: #888891;
  --color-text-1: #CACACE;
  --color-text-2: #FFFFFF;
  --color-text-button: #FFFFFF;

  --color-accent: #FF5A02;

  --color-gradient-orange: linear-gradient(135deg, #ffb647 0%, #ff5a02 100%);
}
  
/* Theme: Light */
:root.theme-light {
	--color-layer-0: #FFFFFF;
  --color-layer-1: #F5F7F8;
  --color-layer-2: #E9ECEE;
  --color-layer-3: #FCFDFF;
  --color-layer-4: #F7F8FA;
  --color-layer-5: #EDF0F2;
  --color-layer-6: #D5DADF;
  --color-layer-7: #FFFFFF;

  --color-border: #FCFDFF;

  --color-text-0: #56565C;
  --color-text-1: #303033;
  --color-text-2: #1B1B1D;
  --color-text-button: #FFFFFF;

  --color-accent: #FF5A02;

  --color-gradient-orange: linear-gradient(135deg, #ffb647 0%, #ff5a02 100%);
}
  
/* Theme: Dark */
:root.theme-dark {
  --color-layer-0: #18181A;
  --color-layer-1: #1B1B1D;
  --color-layer-2: #212124;
  --color-layer-3: #28282B;
  --color-layer-4: #303033;
  --color-layer-5: #3B3B3F;
  --color-layer-6: #494950;
  --color-layer-7: #56565C;

  --color-border: #28282B;

  --color-text-0: #888891;
  --color-text-1: #CACACE;
  --color-text-2: #FFFFFF;
  --color-text-button: #FFFFFF;

  --color-accent: #FF5A02;

  --color-gradient-orange: linear-gradient(135deg, #ffb647 0%, #ff5a02 100%);
}
  