/* This file is intended to replace custom-styles-deprecated.css with the ui-refresh */

@import './colors.css';

@font-face {
  font-family: 'Instrument Sans';
  font-style: normal;
  font-weight: 400 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/instrumentsans/v4/pxiTypc9vsFDm051Uf6KVwgkfoSxQ0GsQv8ToedPibnr0SZe1ZuWi3g.woff2)
    format('woff2');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
    U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 100 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotomono/v31/L0x5DF4xlVMF-BfR8bXMIjhLq3-cXbKD.woff2)
    format('woff2');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
    U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  font-family: "Instrument Sans";
  font-weight: 500;
  outline: none;

  background-color: var(--color-layer-1) !important;

  --ui-lib-button-color-bg: var(--color-accent);
  --ui-lib-button-color-border: var(--color-accent);
  --ui-lib-nav-button-default-color-bg: transparent !important;

  --tv-color-platform-background: var(--color-layer-1);
  --tv-color-pane-background: var(--color-layer-1);
  --tv-color-toolbar-button-background-hover: var(--color-layer-3);
  --tv-color-toolbar-button-background-expanded: var(--color-layer-1);
  --tv-color-toolbar-button-background-active: var(--color-accent);
  --tv-color-toolbar-button-background-active-hover: var(--color-accent);
  --tv-color-toolbar-button-text: var(--color-text-0);
  --tv-color-toolbar-button-text-hover: var(--color-text-2);
  --tv-color-toolbar-button-text-active: var(--color-text-2);
  --tv-color-toolbar-button-text-active-hover: var(--color-text-2);
  --tv-color-item-active-text: var(--color-text-button);
  --tv-color-toolbar-toggle-button-background-active: var(--color-accent);
  --tv-color-toolbar-toggle-button-background-active-hover: var(--color-accent);
  --tv-color-toolbar-divider-background: var(--color-border);
  --tv-color-toolbar-save-layout-loader: var(--color-border);

  --tv-color-popup-element-secondary-text: var(--color-text-2);
  --tv-color-popup-element-hint-text: var(--color-text-2);
  --tv-color-popup-element-text: var(--color-text-button);
  --tv-color-popup-element-toolbox-text-active-hover: var(--color-accent);
  --tv-color-popup-element-toolbox-background-active-hover: var(--color-layer-1);
  --tv-color-popup-element-background-active: var(--color-accent);
  --tv-color-popup-element-divider-background: var(--color-border);
  --tv-color-popup-element-background-hover: var(--color-layer-4);
  --tv-color-popup-background: var(--color-layer-1);

  --tv-dialog-tabs-separator-color: var(--color-border);

  --tv-tabs-slider-text-color: var(--color-text-1);

  --tv-list-item-button-background-color: var(--color-layer-3);

  --range-slider-middle-bg: var(--color-accent);

  --color-gradient-orange: linear-gradient(135deg, #ffb647 0%, #ff5a02 100%);
}

/* General */
button {
  cursor: pointer !important;
}

button[disabled], input[disabled] {
  cursor: not-allowed;
}

input {
  color: var(--color-text-1);
}

input:focus {
  color: var(--color-text-2);
}

tr[data-role="menuitem"] {
  cursor: pointer;
}

.chart-container-border {
  border-radius: 0px !important;
}

.menuWrap-Kq3ruQo8 {
  background-color: var(--color-layer-2) !important;
}

.container-BZKENkhT .background-BZKENkhT {
  fill: var(--color-layer-1);
}

.toggleButton-3zv4iS2j .arrow-3zv4iS2j {
  stroke: var(--color-text-1);
}

/* Layout Area */
.layout__area--top {
  border-bottom: solid 1px var(--color-layer-1);
}

.layout__area--left {
  border-right: solid 1px var(--color-layer-1);
}

/* Resolution Menu */
.section-S_1OCXUK {
  cursor: pointer;
}

.section-S_1OCXUK:hover {
  background-color: var(--color-layer-3) !important;
}

.summary-ynHBVe1n {
  --resolution-section-header-text-color: var(--color-text-0);
  color: var(--resolution-section-header-text-color) !important;
}

.summary-ynHBVe1n:hover {
  --resolution-section-header-text-color: var(--color-text-1);
}
.item-jFqVJoPk
{
  --resolution-item-background-color: var(--color-layer-3);
  --resolution-item-text-color: var(--color-text-0);

  cursor: pointer;
  background-color: var(--resolution-item-background-color) !important;
  color: var(--resolution-item-text-color) !important;
}

.item-jFqVJoPk:hover,
.isActive-2IihgTnv {
  --resolution-item-background-color: var(--color-layer-4);
  --resolution-item-text-color: var(--color-text-2);
}

/* Tools sidebar */
.toggleButton-OhcB9eH7 {
  cursor: pointer;
}

/* Header with selections */
.group-MBOVGQRI {
  position: relative;
  background-color: var(--color-layer-1) !important;
}

.group-MBOVGQRI,
.wrap-3jbioG5e {
  cursor: pointer;
}

/* Order Lines, OHLC, Buys/Sells buttons */
.customButton-qqNP9X6e {
  --button-toggle-off-backgroundColor: var(--color-layer-5);
  --button-toggle-off-textColor: var(--color-text-0);
  --button-toggle-on-backgroundColor: var(--color-accent);
  --button-toggle-on-textColor: var(--color-text-2);

  position: relative;
  z-index: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding-right: 16px;
  cursor: pointer;

  color: var(--button-toggle-off-textColor) !important;

  &.toggle-active > .toggle {
    background-color: var(--button-toggle-on-backgroundColor) !important;
  }
  
  &.toggle-active > .toggle::before {
    background-color: var(--color-text-button) !important;
    transform: translateX(10px);
  }  
}

.customButton-qqNP9X6e:after {
  margin-left: 4px;
  margin-top: 4px;
  width: 16px;
}

.customButton-qqNP9X6e:hover:before {
  border-radius: var(--tv-toolbar-explicit-hover-border-radius, 2px);
  bottom: var(--tv-toolbar-explicit-hover-margin, 2px);
  content: '';
  display: block;
  left: var(--tv-toolbar-explicit-hover-margin, 2px);
  position: absolute;
  right: var(--tv-toolbar-explicit-hover-margin, 2px);
  top: var(--tv-toolbar-explicit-hover-margin, 2px);
  z-index: -1;
  background-color: var(--tv-color-toolbar-button-background-hover, #2a2e39);
}

.customButton-qqNP9X6e:hover {
  color: var(--button-toggle-on-textColor) !important;
}

.toggle {
  width: 24px;
  height: 14px;

  display: inline-block;
  margin-left: 4px;
  cursor: pointer;
  position: relative;

  background-color: var(--button-toggle-off-backgroundColor) !important;
  border-radius: 10px;

  &::before {
    content: "";

    width: 10px;
    height: 10px;

    position: absolute;
    top: 2px;
    left: 2px;
    transition: transform 0.3s;

    background-color: var(--button-toggle-off-textColor) !important;
    border-radius: 50%;
  }
}

/* Search helper text */
.text-HAxAr6QG {
  color: var(--color-text-0);
}

/* Tooltip */
.tooltip-wrapper {
  background-color: var(--color-layer-2) !important;
}

.common-tooltip__ear-holder-EJBD96zX:after {
  display: none;
}

/* Close button for dialogs */
.close-BZKENkhT {
  color: var(--color-text-0) !important;
}

.close-BZKENkhT:hover, .nav-button-znwuaSC1:hover {
  /* TV overrides this css variable inside .nav-button-* for whatever reason... */
  --ui-lib-nav-button-default-color-bg: transparent !important;
  color: var(--color-text-2) !important;
  cursor: pointer;
}

/* Indicators menu */
.container-WeNdU0sq {
  --indicator-item-container-text-color: var(--color-text-0);
  --indicator-item-container-background-color: var(--color-layer-3);
  cursor: pointer !important;
  background-color: var(--indicator-item-container-background-color) !important;
}

.container-WeNdU0sq:hover {
  --indicator-item-container-text-color: var(--color-text-2);
  --indicator-item-container-background-color: var(--color-layer-4);
}

.title-cIIj4HrJ {
  color: var(--indicator-item-container-text-color) !important;
}

.dialog-aRAWUDhF {
  background-color: var(--color-layer-3) !important;
}

/* Indicator Search bar */
.icon-qm7Rg5MB,
.input-qm7Rg5MB,
.icon-GJX1EXhk {
  --indicator-input-text-color: var(--color-text-1);
  color: var(--indicator-input-text-color) !important;
  outline: none;
}

.inputContainer-qm7Rg5MB {
  height: auto;
}

.container-qm7Rg5MB {
  border-color: var(--color-border);
}

/* Divider */
.separator-QjUlCDId,
.layout__area--top {
  background-color: var(--color-layer-1) !important;
}

.fadeTop-379NmUSU {
  background-image: linear-gradient(0deg, #fff0, var(--color-layer-1));
}

.fadeBot-379NmUSU {
  background-image: linear-gradient(180deg, #fff0, var(--color-layer-1));
}

/* Settings menu */
.content-1e-cIUlp {
  border-color: var(--color-border);
}

.item-f5BaKrKq.interactive-f5BaKrKq {
  color: var(--color-text-1);
  cursor: pointer;
}

.item-f5BaKrKq.interactive-f5BaKrKq:hover, .item-f5BaKrKq.interactive-f5BaKrKq.hovered-f5BaKrKq, .item-f5BaKrKq.interactive-f5BaKrKq:active {
  color: var(--color-text-2);
  background-color: var(--color-layer-4);
}

.item-f5BaKrKq.disabled-f5BaKrKq, .item-f5BaKrKq.disabled-f5BaKrKq:active {
  color: var(--color-text-1);
  background-color: var(--color-layer-3);
  cursor: not-allowed;
}

.withSidebar-F0WBLDV5 .content-F0WBLDV5 {
  border-color: var(--color-border);
}

.container-nGEmjtaX {
  border-color: var(--color-border);
}

/* Settings tabs */
.tab-nGEmjtaX {
  --setting-tab-background-color: var(--color-layer-3);
  --setting-tab-text-color: var(--color-text-1);

  cursor: pointer;
  background-color: var(--setting-tab-background-color) !important;
  color: var(--setting-tab-text-color) !important;
}

.tab-nGEmjtaX:hover, .tab-nGEmjtaX.active-nGEmjtaX {
  --setting-tab-background-color: var(--color-layer-4);
  --setting-tab-text-color: var(--color-text-2);
}
.icon-nGEmjtaX, .tab-DggvOZTm.active-DggvOZTm .icon-DggvOZTm {
  color: var(--setting-tab-text-color) !important;
}

.titleText-nGEmjtaX {
  cursor: pointer;
}

.title-BZKENkhT {
  color: var(--color-text-2);
}

.color-brand-D4RPB3ZC.variant-secondary-D4RPB3ZC {
  --ui-lib-button-color-bg: var(--color-layer-2);
  --ui-lib-button-color-border: transparent;
  --ui-lib-button-color-content: var(--color-text-0);

  cursor: pointer;
}

.color-brand-D4RPB3ZC.variant-secondary-D4RPB3ZC:hover {
  --ui-lib-button-color-content: var(--color-text-1);
}

.color-brand-D4RPB3ZC.variant-primary-D4RPB3ZC {
  cursor: pointer;
}

.color-brand-D4RPB3ZC.variant-primary-D4RPB3ZC:hover {
  filter: brightness(1.1);
}

.input-b8SxMnzX + .box-b8SxMnzX, .check-GZajBGIm {
  cursor: pointer;
}

.wrapper-GZajBGIm .input-GZajBGIm:checked + .box-GZajBGIm {
  background-color: var(--color-layer-6) !important;
  border-color: var(--color-layer-6) !important;
}

.button-14c_DKWJ:hover:not(.disabled-14c_DKWJ) {
  background-color: var(--color-layer-3) !important;
}

.container-WDZ0PRNh.intent-primary-WDZ0PRNh {
  --ui-lib-intent-highlight-color: var(--color-border);

  cursor: pointer;
}

.container-WDZ0PRNh.intent-default-WDZ0PRNh {
  cursor: pointer;
  --ui-lib-intent-color: var(--color-border);
  --ui-lib-intent-highlight-color: var(--color-border);
  color: var(--color-text-1);
}

.container-WDZ0PRNh.intent-default-WDZ0PRNh:hover {
  --ui-lib-intent-highlight-color: var(--color-border);
  --ui-lib-control-default-slot-color: var(--color-text-2);
  border-color: var(--color-border);
  color: var(--color-text-2);
}

.container-WDZ0PRNh.disabled-WDZ0PRNh, .container-WDZ0PRNh.disabled-WDZ0PRNh:hover {
  background-color: transparent;
  border-color: var(--color-border);
  color: var(--color-text-0);
  opacity: 0.75;
  cursor: not-allowed;
}

.content-tBgV1m0B,
.container-WDZ0PRNh,
.checkbox-vyj6oJxw .label-vyj6oJxw,
.label-GJX1EXhk  {
  color: var(--color-text-0);
}

.footer-PhMf7PhQ {
  border-color: var(--color-border);
}

.colorPickerWrap-Sw_a4qpB {
  cursor: pointer;
}
.colorPickerWrap-Sw_a4qpB, .colorPickerWrap-Sw_a4qpB.intent-primary-Sw_a4qpB, .colorPickerWrap-Sw_a4qpB.focused-Sw_a4qpB {
  border-color: var(--color-border) !important;
  background-color: unset !important;
}

.colorPickerWrap-Sw_a4qpB.disabled-Sw_a4qpB {
  cursor: default;
}

.opacitySwatch-3gSLMlhu {
  overflow: hidden;
}

.customButton-TZggBcGZ:after, .customButton-TZggBcGZ:before {
  background-color: var(--color-text-1);
}

.customButton-TZggBcGZ:hover:after, .customButton-TZggBcGZ:hover:before {
  background-color: var(--color-text-2);
}

.customButton-TZggBcGZ:hover {
  background-color: var(--color-layer-4);
}

.swatch-3gSLMlhu {
  border-radius: 0;
}

.opacityInputPercent-2UqCUhku {
  color: var(--color-text-2);
}

.line-3B5H2q5m {
  background-color: var(--color-border);
}

.thicknessItem-kAIcH6Vi.checked-kAIcH6Vi:hover, .thicknessItem-kAIcH6Vi.checked-kAIcH6Vi {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
}

.thicknessItem-kAIcH6Vi:hover {
  background-color: var(--color-layer-4);
  border-color: var(--color-border);
}

.thicknessItem-kAIcH6Vi {
  border-color: var(--color-border);
}

.bar-kAIcH6Vi.checked-kAIcH6Vi {
  border-top-color: var(--color-text-2);
}

.bar-kAIcH6Vi {
  border-top-color: var(--color-text-1);
}

.smallTabletSectionTitle-2R6OKuTS {
  color: var(--color-text-1);
}

.drawer-164vy-kj {
  background: var(--color-layer-3);
}

/* Volume Settings */
.underline-tab-cfYYXvwA {
  color: var(--tv-tabs-slider-text-color);
}
.underline-tab-cfYYXvwA.selected-cfYYXvwA, .underline-tab-cfYYXvwA:not(.disable-active-state-styles-cfYYXvwA):active:not(:disabled):not([aria-disabled=true]) {
  color: var(--color-accent) !important;
}

.corner-Pun8HxCz, .center-Pun8HxCz, .corner-Pun8HxCz {
  background: var(--color-accent);
}

.radio-ALqkCUvs .label-ALqkCUvs {
  color: var(--color-text-0);
}

.radio-ALqkCUvs .wrapper-ALqkCUvs .input-ALqkCUvs:checked+.box-ALqkCUvs:before {
  border-color: var(--color-accent);
}

/* Bar marks */
.tooltip-eSLcXvvL {
  background-color: var(--color-layer-2);
  border-color: var(--color-border) !important;
}

/* Little triangle at the end of bar mark tooltip */
.tooltip-eSLcXvvL:not(.right-eSLcXvvL):after {
  border-color: #0000 #0000 #0000 var(--color-layer-2);
}

.tooltip-eSLcXvvL .text-hF57_4zZ {
  font-size: 12px;
  color: var(--color-text-1);
}

/* Right toolbar  */
.widgetbar-pages {
  border-color: var(--color-border);
  background: none;
  border-top-left-radius: 0px !important;
}

/* Believe it or not, each component in the widgetbar sets its own text color */
.widgetbar-pages, .title-uNZ8yW1y, .wrap-C8ln3wvp .title-C8ln3wvp, .wrap-C8ln3wvp .icon-C8ln3wvp, .wrap-C8ln3wvp .icon-C8ln3wvp {
  color: var(--color-text-0);
}

.widgetbar-widget {
  background-color: var(--color-layer-1);
}

.widgetbar-hider {
  cursor: pointer;
}

/* Object tree buttons */
.buttons-uNZ8yW1y, .button-uNZ8yW1y, .button-uNZ8yW1y.disabled-uNZ8yW1y, .button-uNZ8yW1y.disabled-uNZ8yW1y:active, .button-uNZ8yW1y.disabled-uNZ8yW1y:before {
  border-color: var(--color-border);
  background: none !important;
}

.button-uNZ8yW1y.disabled-uNZ8yW1y {
  cursor: not-allowed;
}

.button-uNZ8yW1y:hover {
  background: none !important;
  color: var(--color-text-0);
}

/* Object tree line item  */
.wrap-IEe5qpW4 {
  background-color: var(--color-layer-2) !important;
}

.wrap-IEe5qpW4:hover {
  background-color: var(--color-layer-4) !important;
}

.wrap-C8ln3wvp .renameInput-C8ln3wvp {
  background-color: var(--color-layer-4);
}