node_modules
build
apps/web/src/config/abi/types
.next
cli/aptos-codegen
dist
..temp..
locales
pnpm-lock.yaml
artifacts
build-info
*dbg.json
temp
contracts/typechain
contracts/cache 
cache
.vercel
apis/farms
oldcontracts
contracts/malicious
apps/web/public/images
contracts/uniswapV3
apis
types
public/charting_library
.yarn