node_modules
build
apps/web/src/config/abi/types
.next
cli/aptos-codegen
dist
..temp..
locales
pnpm-lock.yaml
artifacts
build-info
*dbg.json
temp
typechain
cache
.vercel
apis/farms
oldcontracts
malicious
apps/web/public/images
uniswapV3
apis
types
public/charting_library
.yarn