name: CI

on:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up pnpm
      uses: dydxprotocol/setup-pnpm@v2.0.0

    - name: Install forc
      shell: bash
      run: |
        curl https://install.fuel.network | sh
        echo "$HOME/.fuelup/bin:${GITHUB_PATH}" >> $GITHUB_PATH
        export PATH="${HOME}/.fuelup/bin:${PATH}"
        fuelup update
        fuelup toolchain install mainnet
        fuelup default mainnet

    - name: Set up Node
      uses: actions/setup-node@v3
      with:
        node-version: 18
        cache: pnpm

    - name: Run contracts tests
      run: |
        pnpm install --ignore-scripts --frozen-lockfile
        pnpm run build:ts-sdk
        pnpm --filter starboard/contracts build
        pnpm --filter starboard/contracts gen:types
        pnpm --filter starboard/contracts test

    - name: Postinstall script
      run: |
        tar -xzC public -f tradingview/tradingview.tgz # manually inline postinstall script

    - run: pnpm exec vitest run
