name: Lint
on:
  pull_request:
    types: ['opened', 'edited', 'reopened', 'synchronize']

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up pnpm
        uses: pnpm/action-setup@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: pnpm

      - name: Install forc
        shell: bash
        run: |
          curl https://install.fuel.network | sh
          echo "$HOME/.fuelup/bin:${GITHUB_PATH}" >> $GITHUB_PATH
          export PATH="${HOME}/.fuelup/bin:${PATH}"
          fuelup update
          fuelup toolchain install mainnet
          fuelup default mainnet

      - name: Install dependencies
        run: |
          pnpm install -w @commitlint/config-conventional

      - name: Lint PR Title
        run: |
          echo "$PR_TITLE" \
          | sed -E 's/^\[[A-Za-z0-9_-]+-[0-9]+\][[:space:]]*//' \
          | pnpx commitlint --config commitlint.config.ts
        env:
          PR_TITLE: '${{ github.event.pull_request.title }}'

      - name: SwayLint
        run: |
          pnpm --filter starboard/contracts build:pre
          forc fmt --check --path contracts

      - name: ESLint
        run: |
          pnpm --filter starboard/contracts lint:ts
          pnpm --filter @starboard/indexer lint
          pnpm lint
